.Weather {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 30px;
  text-align: center;
}

.Weather .border {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  border: 1px solid black;
  border-radius: 25px;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: 420px;
}

.Weather .location {
  margin-top: 20px;
}

.Weather button {
  margin-left: 5px;
  margin-right: 5px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.25rem;
  width: 35px;
  position: relative;
  top: 4px;
}

.Weather button .fas {
  color: #6d757d;
  font-size: 26px;
  position: relative;
  top: -1px;
}

.Weather h1 {
  font-weight: 700;
  margin: 10px 5px 5px 5px;
}

.Weather h2 {
  font-size: 14px;
}

.Weather .weatherLocal {
  font-size: 20px;
}

.Weather .tempLocal {
  font-size: 52px;
  font-weight: 700;
}

.Weather .units {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: -25px;
  left: -2px;
}

.Weather .units a {
  color: #ffffff;
  text-decoration: none;
}

.Weather .units a:hover {
  color: #ffffff;
  text-decoration: none;
}

.Weather .weatherIndicators {
  font-size: 11px;
  margin-bottom: 20px;
}

.Weather h3 {
  font-size: 14px;
  text-align: center;
}
